:root {
	--curve: cubic-bezier(0.445, 0.05, 0.55, 1);
	--dark-base: rgb(22, 23, 24);
	--light-base: rgb(230, 231, 232);
	--theme-transition: background-color 0.5s var(--curve), color 0.8s var(--curve);
}

[data-theme="dark"] {
	--background: var(--dark-base);
	--border: rgba(151, 151, 151, 0.1);
	--link: #FE9E03;
	--body-color: #E6E7E8;
	--ruler-start: #FE5E11;
	--ruler-end: #FE3AFB;
	--ruler-shadow: 0 5px 2px -4px rgba(0,0,0,0.7), 0 1px 1px -1px rgba(255,255,255,0.8) inset;
}

[data-theme="light"] {
	--background: var(--light-base);
	--border: rgba(151, 151, 151, 0.1);
	--link: #0651E2;
	--body-color: #1a1b1c;
	--ruler-start: #0079F5;
	--ruler-end: #FE3AFB;
	--ruler-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 1px -1px rgba(255,255,255,0.8) inset;
}

.ds {
	user-select: none;
	-webkit-user-select: none;
}

.preload {
	display: none;
}

.uppercase {
	text-transform: uppercase;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

body {
	background: var(--background);
	color: var(--body-color);
	transition: var(--theme-transition);
	visibility: hidden;
}

main {
	max-width: 720px;
	margin: 6em auto 6em auto;
	position: relative;
}

ul {
	padding-left: 0;
}

a {
	color: var(--body-color); 
	transition: var(--theme-transition);
}

nav {
	margin-top: 4rem;
}

nav ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

nav ul li {
	line-height: 1;
}

@media (min-width: 320px) and (max-width: 1023px) {
	nav ul li:not(:first-child) {
		margin-top: 2em;
	}
}

nav a svg.arrow {
	margin-left: 0.5rem;
}

nav a {
	color: var(--link);
	font-size: 1.25rem;
	font-weight: 650;
	text-decoration: none;
	line-height: 0;
}

h1 {
	font-weight: 800;
	font-size: 2.5rem;
	margin-top: 2.5rem;
}

h3 {
	font-size: 1.3125rem;
	font-weight: 550;
}

p {
	font-size: 1.0625rem;
	font-weight: 450;
	opacity: 0.8;
	max-width: 60ch;
	letter-spacing: 0.01em;
}

/* Footer */ 

.footer {
	margin-top: 12rem;
	margin-bottom: 6rem;
	font-size: 0.75rem;
	font-weight: 700;
	opacity: 0.44;
	transition: color 0.8s var(--curve), opacity 0.8s var(--curve);
}

.heart {
	transition: color 0.8s var(--curve), opacity 0.8s var(--curve);
}

.footer:hover .heart {
	color: red;
}

.footer:hover {
	opacity: 1;
}


.nah {
	position: relative;
	margin: 0 0.125rem;
	text-decoration: none;
}
.nah:before {
	content: "";
	display: block;
	position: absolute;
    left: -6%;
    width: 110%;
    height: 4px;
	background: rgba(255, 7, 7, 0.88);
	transform: rotate(-1.7deg);
    /* position of strike through */
	top: 48%;
}


/* Settings Menu */

.settings-button {
	position: absolute;
	top: -48px;
	right: 0;
	width: 32px;
	height: 32px;
	cursor: pointer;
	border: 0;
	transition: transform 0.1s ease-in-out, background 0.8s var(--curve);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html[data-theme='dark'] .settings-button {
	background: url('../assets/settings-dark.svg') no-repeat top left;
}

html[data-theme='light'] .settings-button {
	background: url('../assets/settings-light.svg') no-repeat top left;
}

.settings-button:active, .settings-button:focus {
	transform: scale(0.86);
}

.settings-menu {
	position: absolute;
	width: 86px;
	text-align: center;
	/* -webkit-backdrop-filter: blur(20px) brightness(1.4);  
	backdrop-filter: blur(20px) brightness(1.4);   */
	padding: 12px;
	z-index: 10000;
	border-radius: 4px;
	touch-action: manipulation;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	right: 0;
	top: -8px;
	/* transition: background-color 0.8s var(--curve), box-shadow 0.8s var(--curve); */
}

/* Because backdrop-filter doesn't work with variables */
html[data-theme='dark'] .settings-menu {
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	background-color: rgba(46, 48, 51, 0.4);
	box-shadow: 0 8px 14px -3px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(151, 151, 151, 0.08);
}

html[data-theme='light'] .settings-menu {
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 12px 16px -4px rgba(0, 0, 0, 0.20), inset 0 0 0 1px rgba(255, 255, 255, 0.16);
}

/* Add some margin but not for the last one */
.settings-menu .theme-setting:not(:last-child) {
	margin-bottom: 16px;
}

/* Reset the appearance of radios */
.settings-menu input[type=radio] {
	-moz-appearance: none;
	-webkit-appearance: none;
	position: absolute;
	visibility: hidden;
}

.settings-menu .theme-setting label {
	font-size: 0.9375rem;
	font-weight: 450;
	cursor: pointer;
}

/* Create our custom radio element */
.settings-menu .theme-setting label::before {
	display: block;
	width: 40px;
	height: 40px;
	background:#ffffff;
	border-radius: 50%;
	content: "";
	box-shadow: 0 0 0 transparent;
	margin: 0 auto 4px auto;
	transition: box-shadow 0.25s ease-in-out;
}

/* Add the SVGs for the icons */
.settings-menu .theme-setting label[for=lt]::before {
	content: url('../assets/light-setting.svg');
	background: var(--light-base);
}

.settings-menu .theme-setting label[for=dt]::before {
	content: url('../assets/dark-setting.svg');
	background: var(--dark-base);
}

.settings-menu .theme-setting label[for=at]::before {
	content: url('../assets/auto-setting.svg');
	background: linear-gradient(to right , var(--light-base) 0%, var(--light-base) 50%, var(--dark-base) 50%, var(--dark-base)  100%)
}

/* Set label color when checked */
.settings-menu .theme-setting input[type=radio]:checked ~ label {
	color: var(--link);
}

/* Set border on radio when checked */ 
.settings-menu .theme-setting input[type=radio]:checked ~ label::before {
	box-shadow: 0 0 0 3px var(--link);
	border: transparent;
}

/* Dividers */

.relative {
	position: relative;
}

.vertical-ruler {
	width: 100%;
	height: 10px;
	border-radius: 1px;
	background: linear-gradient(to right, var(--ruler-start), var(	--ruler-end));
	box-shadow: var(--ruler-shadow);
	transition: box-shadow 0.5s ease-in-out
}

.vertical-ruler.blur {
	position: absolute;
	top: 2px;
	filter: blur(12px) brightness(1.5);
	opacity: 0.15;
	box-shadow: none;
	z-index: -1;
}

/* Media Queries */

@media (min-width: 1366px) {
	html {
		font-size: 115%;
	}
	main {
		max-width: 944px;
	}
	.vertical-ruler {
		height: 9px;
	}
}

@media (min-width: 1024px) {
	nav ul {
		flex-direction: row;
	}
	nav ul li {
		margin-top: 0;
	}
	nav ul li:not(:last-child) {
		margin-right: 2rem;
	}
}

@media (max-width: 767px) {
	main {
		max-width: calc(100vw - 96px);
		margin-top: 6rem;
	}
	.vertical-ruler {
		height: 7px;
	}
}

@media (max-width: 480px) {
	main {
		max-width: calc(100vw - 40px)
	}
}

  /* Animations */

.come-in {
	visibility: visible;
	animation: appear-fade-scale 1.7s var(--curve);
}


@keyframes appear-fade-scale {
	0% {
		opacity: 0;
		transform: scale(0.975);
	}
	100% {
		opacity:1;
		transform: scale(1);
	}
}


.menu-appear {
	transform-origin: top right;
	animation-name: menu-appear;
	animation-timing-function: var(--curve);
	animation-duration: .3s;
}

.menu-disappear {
	transform-origin: top right;
	animation-name: menu-disappear;
	animation-timing-function: var(--curve);
	animation-duration: .3s;

}


@keyframes menu-appear {
	0% {
		transform: scale(0.6);
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	60% {
		transform: scale(1.05);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes menu-disappear {
	0% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.05);
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale(0.3);
	}
}



/* Document
 * ========================================================================== */

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Backgrounds do not repeat by default (opinionated).
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  background-repeat: no-repeat; /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */

::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Breaks words to prevent overflow in all browsers (opinionated).
 * 4. Use a 4-space tab width in all browsers (opinionated).
 * 5. Remove the grey highlight on links in iOS (opinionated).
 * 6. Prevent adjustments of font size after orientation changes in iOS.
 */

:where(:root) {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  overflow-wrap: break-word; /* 3 */
  -moz-tab-size: 4; /* 4 */
  tab-size: 4; /* 4 */
  -webkit-tap-highlight-color: transparent; /* 5 */
  -webkit-text-size-adjust: 100%; /* 6 */
}

/* Sections
 * ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

:where(body) {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */

:where(h1) {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */

/**
 * Remove the margin on nested lists in Chrome, Edge, and Safari.
 */

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

/**
 * 1. Correct the inheritance of border color in Firefox.
 * 2. Add the correct box sizing in Firefox.
 */

:where(hr) {
  color: inherit; /* 1 */
  height: 0; /* 2 */
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

/**
 * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
 */

:where(nav li)::before {
  content: "\200B";
  float: left;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Prevent overflow of the container in all browsers (opinionated).
 */

:where(pre) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  overflow: auto; /* 3 */
}

/* Text-level semantics
 * ========================================================================== */

/**
 * Add the correct text decoration in Safari.
 */

:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

:where(b, strong) {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

:where(code, kbd, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

:where(small) {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */

/*
 * Change the alignment on media elements in all browsers (opinionated).
 */

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */

:where(iframe) {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

:where(svg:not([fill])) {
  fill: currentColor;
}

/* Tabular data
 * ========================================================================== */

/**
 * 1. Collapse border spacing in all browsers (opinionated).
 * 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */

:where(table) {
  border-collapse: collapse; /* 1 */
  border-color: inherit; /* 2 */
  text-indent: 0; /* 3 */
}

/* Forms
 * ========================================================================== */

/**
 * Remove the margin on controls in Safari.
 */

:where(button, input, select) {
  margin: 0;
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */

:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
}

/**
 * Change the inconsistent appearance in all browsers (opinionated).
 */

:where(fieldset) {
  border: 1px solid #a0a0a0;
}

/**
 * Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */

:where(progress) {
  vertical-align: baseline;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 3. Change the resize direction in all browsers (opinionated).
 */

:where(textarea) {
  margin: 0; /* 1 */
  resize: vertical; /* 3 */
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */

:where([type="search" i]) {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
 * ========================================================================== */

/*
 * Add the correct styles in Safari.
 */

:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

/*
 * Add the correct display in Safari.
 */

:where(details > summary:first-of-type) {
  display: list-item;
}

/* Accessibility
 * ========================================================================== */

/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */

:where([aria-busy="true" i]) {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */

:where([aria-controls]) {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */

:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */

:where([aria-hidden="false" i][hidden]) {
  display: initial;
}

:where([aria-hidden="false" i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Add typography inheritance in all browsers (opinionated).
 */

:where(button, input, select, textarea) {
  background-color: transparent; /* 1 */
  border: 1px solid WindowFrame; /* 1 */
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  letter-spacing: inherit; /* 2 */
  padding: 0.25em 0.375em; /* 1 */
}

/**
 * Change the inconsistent appearance in all browsers (opinionated).
 */

:where(select) {
  appearance: none;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E") no-repeat right center / 1em;
  border-radius: 0;
  padding-right: 1em;
}

/**
 * Don't show the arrow for multiple choice selects
 */

:where(select[multiple]) {
  background-image: none;
}

/**
 * Remove the border and padding in all browsers (opinionated).
 */

:where([type="color" i], [type="range" i]) {
  border-width: 0;
  padding: 0;
}

/**
 * Use the default user interface font in all browsers (opinionated).
 */

html {
  font-family:
	system-ui,
	/* macOS 10.11-10.12 */ -apple-system,
	/* Windows 6+ */ "Segoe UI",
	/* Android 4+ */ "Roboto",
	/* Ubuntu 10.10+ */ "Ubuntu",
	/* Gnome 3+ */ "Cantarell",
	/* KDE Plasma 5+ */ "Noto Sans",
	/* fallback */ sans-serif,
	/* macOS emoji */ "Apple Color Emoji",
	/* Windows emoji */ "Segoe UI Emoji",
	/* Windows emoji */ "Segoe UI Symbol",
	/* Linux emoji */ "Noto Color Emoji";
}

/**
 * Use the default monospace user interface font in all browsers (opinionated).
 */

code,
kbd,
samp,
pre {
  font-family:
	ui-monospace,
	/* macOS 10.10+ */ "Menlo",
	/* Windows 6+ */ "Consolas",
	/* Android 4+ */ "Roboto Mono",
	/* Ubuntu 10.10+ */ "Ubuntu Monospace",
	/* KDE Plasma 5+ */ "Noto Mono",
	/* KDE Plasma 4+ */ "Oxygen Mono",
	/* Linux/OpenOffice fallback */ "Liberation Mono",
	/* fallback */ monospace,
	/* macOS emoji */ "Apple Color Emoji",
	/* Windows emoji */ "Segoe UI Emoji",
	/* Windows emoji */ "Segoe UI Symbol",
	/* Linux emoji */ "Noto Color Emoji";
}
