:root {
	/* Dark */
	--background-dark: #161718;
	--link-dark: #F8A231;
	--body-color-dark: #E6E7E8;
	--ruler-start-dark: #FF751E;
	--ruler-end-dark: #F74EF4;

	/* Light */
	--background-light: #E6E7E8;
	--link-light: #074BCE;
	--body-color-light: #161718;
	--ruler-start-light: #1D81FF;
	--ruler-end-light: var(--ruler-end-dark);
	
}


html {
	background: var(--background-dark);
	color: var(--body-color-dark);
	font-size: 1em;
	line-height: 1.4;
}

main {
	max-width: 720px;
	margin: 6em auto 6em auto;
}

.uppercase {
	text-transform: uppercase;
}

ul {
	padding-left: 0;
}

a {
	color: var(--body-color-dark); 
}

nav {
	margin-top: 5rem;
}

nav ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}


nav ul li {
	line-height: 1;
}

@media (min-width: 320px) and (max-width: 1023px) {
	nav ul li:not(:first-child) {
		margin-top: 2em;
	}
}



nav a svg.arrow {
	margin-left: 0.5rem;
}

nav a {
	color: var(--link-dark);
	font-size: 1.25rem;
	font-weight: 650;
	text-decoration: none;
	line-height: 0;
}

h1 {
	font-weight: 800;
	font-size: 2.5rem;
	margin-top: 2.5rem;
}

h3 {
	font-size: 1.3125rem;
	font-weight: 550;
}

p {
	font-size: 1.0625rem;
	font-weight: 450;
	opacity: 0.8;
	max-width: 60ch;
	letter-spacing: 0.01em;
}

footer {
	margin-top: 6em;
}


.nah {
	position: relative;
	margin: 0 0.125rem;
	text-decoration: none;
}
.nah:before {
	content: "";
	display: block;
	position: absolute;
    left: -6%;
    width: 110%;
    height: 4px;
	background: rgba(255, 8, 8, 0.84);
	transform: rotate(-1.7deg);
    /* position of strike through */
	top: 48%;
}


/* Dividers */

.relative {
	position: relative;
}

.vertical-ruler {
	width: 100%;
	height: 10px;
	border-radius: 1px;
	/* border-top: 1px solid rgba(255,255,255,0.1); */
	background: linear-gradient(to right, var(--ruler-start-dark), var(	--ruler-end-dark));
	box-shadow: 0 5px 2px -4px rgba(0,0,0,0.7), 0 1px 1px -1px rgba(255,255,255,0.8) inset;
}

.vertical-ruler.blur {
	position: absolute;
	top: 2px;
	-webkit-filter: blur(12px) brightness(1.5);
	opacity: 0.1;
	box-shadow: none;
	z-index: -1;
}

/* Media Queries */

@media (min-width: 1366px) {
	html {
		font-size: 115%;
	}
	main {
		max-width: 944px;
	}
	.vertical-ruler {
		height: 9px;
	}
}

@media (min-width: 1024px) {
	nav ul {
		flex-direction: row;
	}
	nav ul li {
		margin-top: 0;
	}
	nav ul li:not(:last-child) {
		margin-right: 2rem;
	}
}

@media (max-width: 767px) {
	main {
		max-width: calc(100vw - 96px);
		margin-top: 4rem;
	}
	.vertical-ruler {
		height: 7px;
	}
}

@media (max-width: 480px) {
	main {
		max-width: calc(100vw - 40px)
	}
}


@media (prefers-color-scheme: light) {
	html {	  
		background: var(--background-light);
		color: var(--body-color-light);
	}

	a {
		color: var(--body-color-light);
	}

	nav a {
		color: var(--link-light);
	}

	.vertical-ruler {
		background: linear-gradient(to right, #1D81FF, #F74EF4)
	}
  }


  /* Animations */

  @keyframes appear-fade-scale {
	0% {
		opacity: 0;
		transform: scale(0.975);
	}
	100% {
		opacity:1;
		transform: scale(1);
	}
}

.page-appear{
	animation: appear-fade-scale 1.7s cubic-bezier(0.445, 0.05, 0.55, 1);
	/* animation: appear-fade-scale 1.2s cubic-bezier(.16,.20,.56,1); */
}